body {
	background-color: #ffffff;
	color: #8dcb41;
	font-family: 'Roboto', sans-serif;
	font-weight: 100; 
}

.wrapper {
	width: 19.75em;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	float: left;
	margin: 20px;
	padding: 20px;
}

footer {
	clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px;

    text-align: right;
    text-decoration: none;
    font-weight: 200;

    color: white;
    background: #8dcb41;
}

nav a:hover {
	opacity: 60%;
}
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}


@media all and (min-width: 320px){
	.wrapper {
		width: 70%; }

}

@media all and (min-width: 768px){
	.wrapper {
		width: 80%;
	}
}

@media only screen and (min-width: 1140px) {
	.wrapper {
        width: 50%; 
}

@media only screen and (min-width: 1232px) {
	.wrapper {
        width: 60%; 
}

@media only screen and (min-width: 2513px) {
	.wrapper { 
		width: 30%; 
}